<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>
                Aqui van las habilidades que tengo como backend
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>
                Aqui van las habilidades que tengo como frontend
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Razor
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>JQuery</li>
                <li>React Hooks</li>
            </ul>
        </div>
    </div>
</div>
