<div class="text-center">

    <!--<ul>
    <arriba>foreach(var nombre in nombres)
    {
        <li><arroba>nombre</li>
    }
    </ul>-->
    <!--<i  style="color: red; font-size: 40px;" class="bi-trash-fill"></i>-->
                                <!--La m mayuscula permite acceder al valor-->
    <h1 class="display-4">Soy Francisco Rocha<!--<arroba>convertirEnMayuscula(Model.nombre)--> (21<!--<arroba>Model.edad-->)</h1> <!--El arroba permite usar codigo C# en HTML-->
    <!--<h4><arroba>hoy.ToString("dd/MM/yyyy hh:mm:ss tt")</h4>-->

    <!--<arroba>if(Model.edad >= 18){
        <h4>Eres mayor de edad! Puedes pasar <button>Entrar</button></h4>
    } else{
        <h4>Eres menor, Largate</h4>
    }-->

    <h2>Soy un desarrollador full stack especializado en tecnologias .NET y JavaScript</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Alda"/>
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo"/>
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Aqui va la descripcion de lo que eh hecho profesionalmente
        </p>
    </div>
</div>
